a, a.page-link {
    color: #438287;
}

a:hover, a.page-link:hover {
    color: #205d5f;
}

article aside address::before {
    content: "by ";
}

article header {
    margin-bottom: 2rem;
}

blockquote {
    background-color: #ededed;
    border-left: 1rem solid #dcdcdc;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

body>header {
    background-color: #f7f7f7;
}

body>header>p {
    font-style: italic;
}

body>footer {
    background-color: #f7f7f7;
}

.nav-item {
    font-size: 90%;
    font-weight: 550;
    white-space: nowrap;
}

.nav-item:hover {
    background-color: #fff;
}

code {
    color: black;
}
